<script id="orderItemTemplate" type="x-tmpl-mustache">
{{#orderItem}}
<section id="orderSummaryItem" class="m-2 lg:mt-8 lg:mx-12 ml-0 border border-stone-800 flex flex-wrap">
    <div class=" m-2 lg:m-4 lg:m-6 inline-block align-top">
        <img class="bg-cover w-28 h-28 lg:w-36 lg:h-36"
                src="{{imagePath}}"
                alt="{{altText}}" />
    </div>
    <div class="inline-block ml-0 m-6 w-auto grow">
        <div class="flex flex-nowrap">
            <div class="grow"><span class="text-lg xl:text-3xl font-semibold">{{name}}</span></div>
            <div class="grow pt-1"><button type="button" class=" float-right align-top">
                <img src="../components/x.svg" alt="Icon description" class="w-4 h-4 lg:w-6 lg:h-6">
                <span class="sr-only">Delete item</span></button>
            </div>
        </div>
        <div class="w-full flex flex-nowrap">
            <div class="grow">
                <p>Medium</p>
                <ul class="list-inside list-disc">
                    <li>Original Boba, Regular</li>
                    <li>Strawberry Puree, Regular</li>
                </ul>
            </div>
            <div class="grow text-right">
                <p>$ {{price}}</p>
                <p>+ 0.50</p>
                <p>+ 1.00</p>
                <p class="font-semibold text-xl">$ 7.00</p>
            </div>
        </div>
    </div>
</section>
{{/orderItem}}
</script>